{% extends "layout.html"%}

{% block content %}
<div class="row">

  <div>
    <h1> Episódios </h1>

    <table class = "row">
      <tr>
          <th> Nome </th>
          <th> Código </th>
          <th> Data de Lançamento</th>
      </tr>
      {% for episode in episodes %}
      <tr>
          <td><a href="/episode/{{episode.id}}">{{episode.name}}</a></td>
          <td>{{episode.episode}}</td>
          <td>{{episode.air_date}}</td>
      </tr>
      {% endfor %}
    </table>
</div>
{% endblock %}